.invalid {
    color: white;
    font-size: .7em;
    font-weight: bold;
    margin-top: -1.3em;
    background-color: red;
    /* max-width: 400px; */
    text-align: center;
}

.valid {    
    color: white;
    font-size: .7em;
    font-weight: bold;
    margin-top: -1.3em;
    background-color: rgb(0, 158, 26);
    /* max-width: 400px; */
    text-align: center;
}

.submit-btn {
    justify-self: flex-end;
    align-self: flex-end;
}

.disabled {
    justify-self: flex-end;
    align-self: flex-end;
    opacity: .3;
    cursor: default;
}

.disabled:hover {
    transform: none;
}