:root {
    --pink: #fb007180;
    --menu-background: rgb(105, 126, 170);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: palegreen;
}

header {
    position: relative;
    box-shadow: 0 3px 10px 1px rgba(66, 10, 80, 0.1);
}